---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

/* Custom font overrides */
$global-font-family: -apple-system, BlinkMacSystemFont, "Inter", "Roboto", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
$header-font-family: "Montserrat", "Avenir", "Corbel", sans-serif;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
